/*body {*/
/*        background-image: url(../img/back.jpg) ;*/
/*        #background-color: #2aabd2;*/
/*        #background-repeat: repeat;*/
/*        background-size: 100% 220%;*/
/*}*/
.form {
        background: rgba(255,255,255,0.7);
        width: 500px;
        margin: 50px auto;
}

input.form-control:valid{
        background-color: mintcream;
}
input.form-control:invalid{
        background-color: #ffeeed;
}
.fa{
        display: inline-block;
        top: 27px;
        left: 6px;
        position: relative;
        color: #575757;
}
input[type="text"],input[type="password"]{
        padding-left: 26px;
}
form-title{
        padding-top: 20px;
}
#button{
        padding-bottom: 50px;
}

table tbody{
        display: block;
        height: 250px;

        overflow-y: scroll;
}

table thead,
tbody tr{
        display: table;
        width: 100%;
        table-layout: fixed;
}

table thead{
        width: calc(100% - 1em);
}

table thead th{
        background: #ccc;
}

row{
        height: 30px;
        font-size: 30px;
}