{% extends 'base.html' %}
{% block title %}
    <title>实时收益</title>
{% endblock %}

{% block content %}
    <h2>单腿策略</h2>
    <table class="table">
    <thead>
    <tr>
        <th>策略名称</th>
        <th>期权代码</th>
        <th>期权简称</th>
        <th>买入/卖出</th>
        <th>份额</th>
        <th>价格</th>
        <th>现价</th>
        <th>收益</th>
        <th>收益率</th>
        <th>开始日期</th>
        <th>终止策略</th>
    </tr>
    </thead>
    <tbody>
    {% for info in single %}
    <tr>
        <th>{{ info.0 }}</th>
        <th>{{ info.1 }}</th>
        <th>{{ info.2 }}</th>
        <th>{{ info.3 }}</th>
        <th>{{ info.4 }}</th>
        <th>{{ info.5 }}</th>
        <th>{{ info.6 }}</th>
        <th>{{ info.7 }}</th>
        <th>{{ info.8 }}%</th>
        <th>{{ info.9 }}</th>
        <th><input type="button"></th>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <h2>复合策略</h2>
    <table class="table">
    <thead>
    <tr>
        <th>策略名称</th>
        <th>期权代码</th>
        <th>期权简称</th>
        <th>买入/卖出</th>
        <th>份额</th>
        <th>价格</th>
        <th>现价</th>
        <th>收益</th>
        <th>收益率</th>
        <th>开始日期</th>
        <th>终止策略</th>
    </tr>
    </thead>
    <tbody>
    {% for info in composite %}
    <tr>
        <th>{{ info.0 }}</th>
        <th>{{ info.1 }}</th>
        <th>{{ info.2 }}</th>
        <th>买入</th>
        <th>{{ info.3 }}</th>
        <th>{{ info.4 }}</th>
        <th>{{ info.5 }}</th>
        <th>{{ info.6 }}</th>
        <th>{{ info.7 }}%</th>
        <th>{{ info.15 }}</th>
    </tr>
    <tr>
        <th></th>
        <th>{{ info.8}}</th>
        <th>{{ info.9 }}</th>
        <th>卖出</th>
        <th>{{ info.10 }}</th>
        <th>{{ info.11 }}</th>
        <th>{{ info.12 }}</th>
        <th>{{ info.13 }}</th>
        <th>{{ info.14 }}%</th>

    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}