{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.6.3.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block title %}


    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>

</html>